html,
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.RewardPoint {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rewardpointbutton {
  background-color: blue;
  color: white;
}
